h1 {
  margin: 0;
}

h4 {
  margin-top: 0;
}

.about-section {
  background-color: #1e2852;
  color: whitesmoke;
  padding: 3rem 9rem;
}

.who-we-are,
.our-vision {
  margin-bottom: 4rem;
}

.who-we-are p,
.our-vision p {
  margin-top: 1.5rem;
}

.who-we-are,
.our-vision {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.who-we-are > h1 {
  text-align: center;
}

.who-we-are > p {
  text-align: center;
  width: 512px;
}

.vision-list {
  border: whitesmoke 1px solid;
  border-radius: 1vh;
}

.vision-list li {
  margin: 2rem;
  font-size: 1.5rem;
  list-style: none;
}

.meet-our-team h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.member-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.member {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.member-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.member-details h2 {
  margin: 0 auto;
}

.member img {
  height: 256px;
  width: 256px;
}

.member-details p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .about-section {
    padding: 3rem 5rem;
  }

  .member {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    margin-bottom: 2rem;
  }

  .member > img {
    height: max-content;
    border-radius: 5%;
  }

  .member-details {
    margin-left: 2rem;
  }
  .who-we-are > p {
    width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .about-section {
    padding: 3rem 2rem;
  }

  .who-we-are,
  .our-vision,
  .meet-our-team {
    text-align: center;
  }

  .vision-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .member {
    flex-direction: column;
  }

  .member-details {
    margin-top: 1rem;
    margin-left: 0;
  }
}
