/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
}

footer {
}

/* JASON YAP */

.content-div {
  background-color: #1e2852;
  padding: 0 7rem;
  color: whitesmoke;
}

.content-div h1 {
  margin-top: 0;
  padding-top: 2rem;
  font-size: 3rem;
  text-align: center;
}

.flex-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-child {
  flex-basis: 30%;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items img {
  padding: 2rem;
}

.items p {
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
  font-size: 1.25rem;
}

.cryptocurrency {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 0;
}

.cryptocurrency div {
  font-size: 2rem;
  flex-basis: 45%;
  padding-left: 2rem;
}

.cryptocurrency a {
  background-color: #4d3a81;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: whitesmoke;
}

/* KEVIN EMERY */

.nav-bar {
  display: flex;
  width: 100%;
  height: 15vh;
  background-color: #243063;
  color: white;
  box-shadow: 0px 100px;
}

.nav-item {
  display: flex;
  height: 15vh;
  font-size: 3.5rem;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
}

.nav-item:hover {
  color: #3a4d9c;
}

.nav-left {
  float: left;
  width: 50%;
}

.nav-item-left {
  padding-left: 5%;
  font-weight: bold;
  text-shadow: 1px 5px 0px rgba(0,0,0,0.2);
  width: 25%;
}

.nav-right {
  width: 50%;
}

.nav-item-right {
  float: right;
  margin-right: 5%;
  width: 25%;
  font-size: 2rem;
  text-shadow: 1px 3px 0px rgba(0,0,0,0.2);
  text-align: center;
}

.small-hr {
  width: 50%;
  border: 2px solid #161e3d;
  border-radius: 5%;
}

.large-hr {
  width: 100%;
  border: 3px solid #161e3d;
  border-radius: 5%;
}

.rounded-img {
  border-radius: 15%;
}